body {
    background-image: linear-gradient(to bottom right, rgb(5, 146, 18), rgb(6, 208, 1), rgb(155, 236, 0) );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
    background-color: transparent;
    color: white;
    font-family: "MedievalSharp", cursive;
    opacity: 0.5;
    border-color: black
}

button:hover {
    opacity: 1.0;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.788) );
}
script {
    display: flex;
    justify-content: center;
    align-items: center;
}
dotlottie-player {
    display: flex;
    justify-content: center;
    align-items: center;
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
    max-height: 50%;
}

iframe {
    max-width: 30%;
}